/*navBar*/
.navbar{
  display: flex;
  background-color: rgb(207, 16, 16);
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  color: #fff;
  margin: 10px;
  border-radius: 10px;

}
.navbar ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
.navbar ul li {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  
}
.logo{
  width: 80%;
  border-radius: 10px;
}
